
DMSmain/DMSmain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DMSmain/.vs/DMSmain/v17/.suo
*.cache
*.vsidx
DMSmain/.vs/DMSmain/v17/.suo
DMSmain/.vs/DMSmain/v17/.suo
DMSmain/DMSmain/obj/Debug/DMSmain.csproj.FileListAbsolute.txt
